<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
        <title>Predict Number</title>
    </head>
    <body>
        <h1>数字の画像ファイルを選択し実行ボタンを押すとその画像から予測された数字が表示されます。</h1>
      <form action = "/" method = "POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/jpeg, image/png">
            <br>
            <input type="submit" value="実行">
      </form>

      <p>{{text}}</p>

     
   </body>
</html>
